# Exclude everything outside mobile-user-app from EAS upload
../node_modules
../mobile-driver-app
../frontend-webapp
../admin-dashboard
../apps
../transport-service
../billing-service
../booking-service
../customer-support-service
../iot-service
../ml-service
../notification-service
../security-service
../social-service
../supply-chain-service
../voice-service
../.git
../.claude
/android
/ios
