node_modules
**/dataconnect-generated/esm
npm-debug.log
.git
.gitignore
README.md
.next
dist
.env
.env.local
.env.*.local
coverage
.eslintcache
.cache
.DS_Store
cypress/videos
cypress/screenshots
load-test-results.json
