
services:
  # Base de Datos
  mongo:
    image: mongo:6.0
    container_name: going_mongo_prod
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: secure_password_production # Cambiar esto
    volumes:
      - mongo_data_prod:/data/db
    networks:
      - going-network

  # Backend (NestJS)
  user-auth-service:
    build:
      context: .
      dockerfile: apps/user-auth-service/Dockerfile
    container_name: going_backend_prod
    restart: always
    environment:
      NODE_ENV: production
      PORT: 3333
      # Cadena de conexión interna de Docker
      MONGO_URI: mongodb://admin:secure_password_production@mongo:27017/going_db?authSource=admin
      JWT_SECRET: tu_super_secreto_jwt
    depends_on:
      - mongo
    networks:
      - going-network
    # No exponemos el puerto 3333 al mundo, solo a la red interna (frontend lo usa)

  # Frontend (Nginx + React)
  frontend-webapp:
    build:
      context: .
      dockerfile: apps/frontend-webapp/Dockerfile
    container_name: going_frontend_prod
    restart: always
    ports:
      - "80:80" # Producción corre en puerto estándar
      # - "443:443" # Descomentar cuando agregues certificados SSL
    depends_on:
      - user-auth-service
    networks:
      - going-network

volumes:
  mongo_data_prod:

networks:
  going-network:
    driver: bridge