ANTHROPIC_API_KEY=sk-ant-...
REPO_PATH=C:/Users/USER1/going-monorepo-clean
GCP_PROJECT=going-5d1ae
GCP_REGION=us-central1
# Intervalo en ms (1800000 = 30 min, 3600000 = 1 hora)
AGENT_INTERVAL_MS=1800000
