<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1VIzCS3xGKejMKcmTrn_Gx0XjpQ8xHSA</string>
	<key>GCM_SENDER_ID</key>
	<string>780842550857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.going.userapp</string>
	<key>PROJECT_ID</key>
	<string>going-5d1ae</string>
	<key>STORAGE_BUCKET</key>
	<string>going-5d1ae.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780842550857:ios:d198cecf917ae5477ae198</string>
</dict>
</plist>